<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.underthebamboo.media_and_create_date_picker_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
